<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section> 
  </aside>
  <div class="span8">
  </div>
  <table style="width:100%">
      <tr>
        <td>Transaction Name</td>
        <td>Date</td> 
        <td>Amount</td>
        <td>Donation</td>
      </tr>
      <% @transactions_hash_arr.each do |transaction| %>
        <tr>
          <td><%= transaction[:name] %></td>
          <td><%= transaction[:date] %></td> 
          <td><%= "$#{transaction[:amount]}" %></td>
          <td><%= "$#{transaction[:roundup]}" %></td>
        </tr>
      <% end %>
    </table>
</div>